/* Robin Giles Ribera */

html {
  overflow-y: auto;
}

body {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0em auto;
  padding: 0em;
  width: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: #242223;
  color: #555;
  font-weight: bold;
  line-height: 150%;
  text-align: right;
  font-size:.67em;
  font-family: 'Helvetica', 'Ubuntu', Arial, Verdana, sans-serif;
}

body, h1, h2, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

.calculator {
  margin: 0em auto;
  max-width: 800px;
  height: auto;
  margin: auto;
  background: #333;
  border:#555 1px solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: rgba(0,0,0,0.6) 0px 2px 40px, inset rgba(255,255,255,0.8) 0px 1px 1px -1px;
  -webkit-box-shadow: rgba(0,0,0,0.6) 0px 2px 40px, inset rgba(255,255,255,0.8) 0px 1px 1px -1px;
  -moz-box-shadow: rgba(0,0,0,0.6) 0px 2px 40px, inset rgba(255,255,255,0.8) 0px 1px 1px -1px;
  -ms-box-shadow: rgba(0,0,0,0.6) 0px 2px 40px, inset rgba(255,255,255,0.8) 0px 1px 1px -1px;
  -o-box-shadow: rgba(0,0,0,0.6) 0px 2px 40px, inset rgba(255,255,255,0.8) 0px 1px 1px -1px;
  background-image: -webkit-linear-gradient(top, #333, #000);
  background-image: -moz-linear-gradient(top, #333, #000);
  background-image: -ms-linear-gradient(top, #333, #000);
  background-image: -o-linear-gradient(top, #333, #000);
  background-image: linear-gradient(top, #333, #000);
  overflow: hidden;
  text-align: center;
}

.output {
  box-shadow: rgba(0,0,0,0.4) 0px 5px 20px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
  -webkit-box-shadow: rgba(0,0,0,0.4) 0px 5px 20px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
  -moz-box-shadow: rgba(0,0,0,0.4) 0px 5px 20px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
  -ms-box-shadow: rgba(0,0,0,0.4) 0px 5px 20px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
  -o-box-shadow: rgba(0,0,0,0.4) 0px 5px 20px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
  background-image: -webkit-linear-gradient(top, #333, #111);
  background-image: -moz-linear-gradient(top, #333, #111);
  background-image: -ms-linear-gradient(top, #333, #111);
  background-image: -o-linear-gradient(top, #333, #111);
  background-image: linear-gradient(top, #333, #111);
  position: relative;
  padding: .4em .5em 1em 0;
  cursor: pointer;
  text-align: right;
  background-color: #333;
  background: transparent none 2% 47% no-repeat;
  overflow: hidden;
}

.output:active {
  background-color: #00bcf2;
}

.output h1 {
  color: #555;
  padding: 0 0 .1em 0;
  font-size: 4.5em;
  letter-spacing: .1em;
}
.output h2 {
  padding: 0 .2em 0;
  color: #999;
  font-size: 1.5em;
  line-height: .2;
  letter-spacing: .1em;
}

.pad {
  float: left;
  width: 100%; 
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,0.4);
  -ms-box-shadow: inset 0 5px 5px rgba(0,0,0,0.4);
  -o-box-shadow: inset 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: inset 0 5px 5px rgba(0,0,0,0.4);
  overflow: hidden;
  background: #f2f2f2 none top left repeat-x; 
}

.pad li {
  float: left;
  width: 25%;
  padding: .6em 0;
  margin: 1.2% 0%;
  font-size: 2.7em;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-bottom: #f0f0f0 1px solid;

  list-style-type: none;
}

.pad li:active {
  background: rgba(0,0,0,0.05)
}

.pad .clear {
  font-weight: bold;
  font-family: 'monospace', 'Helvetica', 'Ubuntu', sans-serif;
  padding: .5em 0;
}

.pad .shift {
  font-size: 1.6em;
}

.pad .shift.active {
  color: white;
  text-shadow: 0 1px 3px #555, 0 -1px 3px #555, 1px 0 3px #555, -1px 0 3px #555;
}

.pad .small {
  font-size: 2em;
}

@media screen and (min-width: 700px) {
  .calculator { max-width: 800px; }
}
@media screen and (min-width: 900px) {
  .calculator { max-width: 800px; }
}
@media screen and (min-width: 1100px) {
  .calculator { max-width: 800px; }
}
@media screen and (min-width: 1300px) {
  .calculator { max-width: 800px; }
}
@media screen and (min-width: 1500px) {
  .calculator { max-width: 1000px; }
}

/**********************************/
/************** Page **************/
/**********************************/

.curtain {
  position: relative;
  z-index: 9999;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.copy {
  padding: 2% 0 20% 0;
  background: #fff;
  background-image: -webkit-linear-gradient(#eee .1em, transparent .1em);
  background-image: linear-gradient(rgb(238, 238, 238) 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

h1 {
  font-weight: 200;
  font-size: 200%;
  line-height: 120%;
}

.below-curtain {
  color: #fff;
  font-weight: lighter;
}

.below-curtain h1 {
  font-size: 500%;
  line-height: 120%;
  padding-top: 5%;
}

.below-curtain h2 {
  font-weight: lighter;
  margin: 7.5% 0 0 0;
  font-size: 200%;
  line-height: 100%;
}

.keyboard img {
  background-color: #fff;
  padding: 0 0;
  margin: 4% auto;
  width: 80%;
}

.device img {
  padding: 4% 0 0 0;
}

.browser img {
  padding: 4% 0;
  width: 80%;
}

img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: auto auto;
}

section.footer{
  padding: 5% 0;
  font-size: 80%;
}

@media screen and (max-width: 100px) {
  body { font-size: 40%;
    min-width: 100px}
  .copy { padding: 0% 0 20% 0; }
  .img img { width: 100%; max-width: 100%; }
}
@media screen and (min-width: 100px) {
  body { font-size: 55.548%; }
  .copy { padding: 0% 0 20% 0; }
  .img img { width: 100%; max-width: 100%; }
}
@media screen and (min-width: 200px) {
  body { font-size: 65.548%; }
  .copy { padding: 0% 0 20% 0; }
  .img img { width: 100%; max-width: 100%; }
}
@media screen and (min-width: 300px) {
  body { font-size: 75.548%; }
  .copy { padding: 0% 0 20% 0; }
  .img img { width: 100%; max-width: 100%; }
}
@media screen and (min-width: 500px) {
  body { font-size: 88.208%; }
  .copy { padding: 2% 0 20% 0; }
  .img img { width: 100%; max-width: 100%; }
}
@media screen and (min-width: 700px) {
  body { font-size: 90.868%; }
  .copy { padding: 2% 0 20% 0; }
  .keyboard img, .browser img { width: 80%; max-width: 80%; }
  .device img { width: 90%; max-width: 90%; }
}
@media screen and (min-width: 900px) {
  body { font-size: 95.528%; }
  .copy { padding: 2% 0 20% 0; }
  .keyboard img, .browser img { width: 80%; max-width: 80%; }
  .device img { width: 90%; max-width: 90%; }
}
@media screen and (min-width: 1100px) {
  body { font-size: 100%; }
  .copy { padding: 2% 0 20% 0; }
  .keyboard img, .browser img { width: 80%; max-width: 80%; }
  .device img { width: 90%; max-width: 90%; }
}
@media screen and (min-width: 1300px) {
  body { font-size: 100%; }
  .copy { padding: 2% 0 20% 0; }
  .keyboard img, .browser img { width: 80%; max-width: 80%; }
  .device img { width: 90%; max-width: 90%; }
}
@media screen and (min-width: 1500px) {
  body { font-size: 110%; }
  .copy { padding: 2% 0 20% 0; }
  .keyboard img, .browser img { width: 80%; max-width: 80%; }
  .device img { width: 90%; max-width: 90%; }
}
